table{
  padding-left: 15px;
}

p{
  padding-left: 15px;
}

input{

  margin-left: 10px;
  width :  350px;
}
button{
 margin-top : 10px;
 width : 410px;


}

.form-container{
  padding-left: 20px;

}
